.app-wrapper {
    height: 100%;
    display: grid;
    max-width: 1024px;
    grid-template-areas:
        "h h"
        "n c"
    ;
    /* grid-template-rows: 100vh; */
    grid-template-columns: 2fr 10fr;
    box-sizing: border-box;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
    overflow: hidden;
    padding: 10px 5px 0;
    height: 100%;
    border-right: solid black 1px;
}

a {
    text-decoration: none;
    color: #fff;
}

.active {
    color: goldenrod;
}